.video-player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  &__video-el {
    margin: 10px 0px;
    min-height: 100px;
    background-color: black;
    width: 80%;
    aspect-ratio: 16/9;
  }

  &__bottom-panel {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__time {
      display: flex;

      span {
        margin: 0 5px;
      }
    }
  }
}